# Data Cleaning

## This script contains:
### 1. Importing data
### 2. Renaming columns
### 3. Dropping columns
### 4. Updating data types
### 5. Check for mixed type columns
### 6. Check for missing values
### 7. Check for duplicates

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

### 01. Importing Data

In [2]:
# Define file path

path = '/Users/mariasampogna/Documents/Career Foundry/Data Analytics Immersion/Achievement 6/EPA Air Quality Analysis'

In [4]:
#Import ozone data

ozone_df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'daily_ozone_2022.csv'),index_col = False)

In [6]:
# check the output

ozone_df.head()

,State Code,County Code,Site Num,Parameter Code,POC,Latitude,Longitude,Datum,Parameter Name,Sample Duration,...,AQI,Method Code,Method Name,Local Site Name,Address,State Name,County Name,City Name,CBSA Name,Date of Last Change
0,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,...,35,NaN,-,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2022-09-08
1,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,...,50,NaN,-,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2022-09-08
2,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,...,51,NaN,-,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2022-09-08
3,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,...,40,NaN,-,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2022-09-08
4,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,...,77,NaN,-,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2022-09-08

In [7]:
ozone_df.shape

(233601, 29)

In [8]:
# import carbon monoxide data

co_df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'daily_CO_2022.csv'), index_col=False)

In [9]:
# check the output

co_df.head()

,State Code,County Code,Site Num,Parameter Code,POC,Latitude,Longitude,Datum,Parameter Name,Sample Duration,...,AQI,Method Code,Method Name,Local Site Name,Address,State Name,County Name,City Name,CBSA Name,Date of Last Change
0,1,73,23,42101,2,33.553056,-86.815,WGS84,Carbon monoxide,1 HOUR,...,NaN,93.0,INSTRUMENTAL - GAS FILTER CORRELATION CO ANALYZER,North Birmingham,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,"Birmingham-Hoover, AL",2022-09-26
1,1,73,23,42101,2,33.553056,-86.815,WGS84,Carbon monoxide,1 HOUR,...,NaN,93.0,INSTRUMENTAL - GAS FILTER CORRELATION CO ANALYZER,North Birmingham,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,"Birmingham-Hoover, AL",2022-09-26
2,1,73,23,42101,2,33.553056,-86.815,WGS84,Carbon monoxide,1 HOUR,...,NaN,93.0,INSTRUMENTAL - GAS FILTER CORRELATION CO ANALYZER,North Birmingham,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,"Birmingham-Hoover, AL",2022-09-26
3,1,73,23,42101,2,33.553056,-86.815,WGS84,Carbon monoxide,1 HOUR,...,NaN,93.0,INSTRUMENTAL - GAS FILTER CORRELATION CO ANALYZER,North Birmingham,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,"Birmingham-Hoover, AL",2022-09-26
4,1,73,23,42101,2,33.553056,-86.815,WGS84,Carbon monoxide,1 HOUR,...,NaN,93.0,INSTRUMENTAL - GAS FILTER CORRELATION CO ANALYZER,North Birmingham,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,"Birmingham-Hoover, AL",2022-09-26

In [11]:
co_df.shape

(99645, 29)

In [12]:
# import nitrogen dioxide data

no2_df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'daily_NO2_2022.csv'), index_col=False)

In [13]:
# check the output
no2_df.head()

,State Code,County Code,Site Num,Parameter Code,POC,Latitude,Longitude,Datum,Parameter Name,Sample Duration,...,AQI,Method Code,Method Name,Local Site Name,Address,State Name,County Name,City Name,CBSA Name,Date of Last Change
0,1,73,23,42602,1,33.553056,-86.815,WGS84,Nitrogen dioxide (NO2),1 HOUR,...,1,200,Teledyne-API Model 200EUP or T200UP - Photolyt...,North Birmingham,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,"Birmingham-Hoover, AL",2022-09-26
1,1,73,23,42602,1,33.553056,-86.815,WGS84,Nitrogen dioxide (NO2),1 HOUR,...,4,200,Teledyne-API Model 200EUP or T200UP - Photolyt...,North Birmingham,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,"Birmingham-Hoover, AL",2022-09-26
2,1,73,23,42602,1,33.553056,-86.815,WGS84,Nitrogen dioxide (NO2),1 HOUR,...,2,200,Teledyne-API Model 200EUP or T200UP - Photolyt...,North Birmingham,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,"Birmingham-Hoover, AL",2022-09-26
3,1,73,23,42602,1,33.553056,-86.815,WGS84,Nitrogen dioxide (NO2),1 HOUR,...,8,200,Teledyne-API Model 200EUP or T200UP - Photolyt...,North Birmingham,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,"Birmingham-Hoover, AL",2022-09-26
4,1,73,23,42602,1,33.553056,-86.815,WGS84,Nitrogen dioxide (NO2),1 HOUR,...,27,200,Teledyne-API Model 200EUP or T200UP - Photolyt...,North Birmingham,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,"Birmingham-Hoover, AL",2022-09-26

In [15]:
no2_df.shape

(92635, 29)

In [16]:
# import sulfur dioxide data

so2_df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'daily_SO2_2022.csv'), index_col = False)

In [17]:
# check the output

so2_df.head()

,State Code,County Code,Site Num,Parameter Code,POC,Latitude,Longitude,Datum,Parameter Name,Sample Duration,...,AQI,Method Code,Method Name,Local Site Name,Address,State Name,County Name,City Name,CBSA Name,Date of Last Change
0,1,73,23,42401,2,33.553056,-86.815,WGS84,Sulfur dioxide,1 HOUR,...,0.0,100.0,INSTRUMENTAL - ULTRAVIOLET FLUORESCENCE,North Birmingham,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,"Birmingham-Hoover, AL",2022-09-26
1,1,73,23,42401,2,33.553056,-86.815,WGS84,Sulfur dioxide,1 HOUR,...,0.0,100.0,INSTRUMENTAL - ULTRAVIOLET FLUORESCENCE,North Birmingham,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,"Birmingham-Hoover, AL",2022-09-26
2,1,73,23,42401,2,33.553056,-86.815,WGS84,Sulfur dioxide,1 HOUR,...,0.0,100.0,INSTRUMENTAL - ULTRAVIOLET FLUORESCENCE,North Birmingham,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,"Birmingham-Hoover, AL",2022-09-26
3,1,73,23,42401,2,33.553056,-86.815,WGS84,Sulfur dioxide,1 HOUR,...,1.0,100.0,INSTRUMENTAL - ULTRAVIOLET FLUORESCENCE,North Birmingham,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,"Birmingham-Hoover, AL",2022-09-26
4,1,73,23,42401,2,33.553056,-86.815,WGS84,Sulfur dioxide,1 HOUR,...,1.0,100.0,INSTRUMENTAL - ULTRAVIOLET FLUORESCENCE,North Birmingham,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,"Birmingham-Hoover, AL",2022-09-26

In [18]:
so2_df.shape

(178679, 29)

### 02. Renaming Columns

In [19]:
# check column names in Ozone data

list(ozone_df.columns)

['State Code',
 'County Code',
 'Site Num',
 'Parameter Code',
 'POC',
 'Latitude',
 'Longitude',
 'Datum',
 'Parameter Name',
 'Sample Duration',
 'Pollutant Standard',
 'Date Local',
 'Units of Measure',
 'Event Type',
 'Observation Count',
 'Observation Percent',
 'Arithmetic Mean',
 '1st Max Value',
 '1st Max Hour',
 'AQI',
 'Method Code',
 'Method Name',
 'Local Site Name',
 'Address',
 'State Name',
 'County Name',
 'City Name',
 'CBSA Name',
 'Date of Last Change']

In [25]:
ozone_df.rename(columns = {'Sample Duration' : 'Sample Duration Ozone', 
                           'Pollutant Standard' : 'Pollutant Standard Ozone',
                           'Units of Measure' : 'Units of Measure Ozone',
                           'Event Type' : 'Event Type Ozone',
                           'Observation Count' : 'Observation Count Ozone',
                           'Observation Percent' : 'Observation Percent Ozone',
                           'Arithmetic Mean' : 'Arithmetic Mean Ozone',
                           '1st Max Value' : '1st Max Value Ozone',
                           '1st Max Hour' : '1st Max Hour Ozone',
                           'AQI' : 'AQI Ozone',
                           'Method Code' : 'Method Code Ozone',
                           'Method Name' : 'Method Name Ozone'}
                , inplace = True)

In [26]:
# check ozone column names

list(ozone_df.columns)

['State Code',
 'County Code',
 'Site Num',
 'Parameter Code',
 'POC',
 'Latitude',
 'Longitude',
 'Datum',
 'Parameter Name',
 'Sample Duration Ozone',
 'Pollutant Standard Ozone',
 'Date Local',
 'Units of Measure Ozone',
 'Event Type Ozone',
 'Observation Count Ozone',
 'Observation Percent Ozone',
 'Arithmetic Mean Ozone',
 '1st Max Value Ozone',
 '1st Max Hour Ozone',
 'AQI Ozone',
 'Method Code Ozone',
 'Method Name Ozone',
 'Local Site Name',
 'Address',
 'State Name',
 'County Name',
 'City Name',
 'CBSA Name',
 'Date of Last Change']

In [28]:
# rename carbon monoxide columns

co_df.rename(columns = {'Sample Duration' : 'Sample Duration CO', 
                           'Pollutant Standard' : 'Pollutant Standard CO',
                           'Units of Measure' : 'Units of Measure CO',
                           'Event Type' : 'Event Type CO',
                           'Observation Count' : 'Observation Count CO',
                           'Observation Percent' : 'Observation Percent CO',
                           'Arithmetic Mean' : 'Arithmetic Mean CO',
                           '1st Max Value' : '1st Max Value CO',
                           '1st Max Hour' : '1st Max Hour CO',
                           'AQI' : 'AQI CO',
                           'Method Code' : 'Method Code CO',
                           'Method Name' : 'Method Name CO'}
                , inplace = True)

In [29]:
# check the carbon monoxide data column names

list(co_df.columns)

['State Code',
 'County Code',
 'Site Num',
 'Parameter Code',
 'POC',
 'Latitude',
 'Longitude',
 'Datum',
 'Parameter Name',
 'Sample Duration CO',
 'Pollutant Standard CO',
 'Date Local',
 'Units of Measure CO',
 'Event Type CO',
 'Observation Count CO',
 'Observation Percent CO',
 'Arithmetic Mean CO',
 '1st Max Value CO',
 '1st Max Hour CO',
 'AQI CO',
 'Method Code CO',
 'Method Name CO',
 'Local Site Name',
 'Address',
 'State Name',
 'County Name',
 'City Name',
 'CBSA Name',
 'Date of Last Change']

In [30]:
# rename nitrogen dioxide columns

no2_df.rename(columns = {'Sample Duration' : 'Sample Duration NO2', 
                           'Pollutant Standard' : 'Pollutant Standard NO2',
                           'Units of Measure' : 'Units of Measure NO2',
                           'Event Type' : 'Event Type NO2',
                           'Observation Count' : 'Observation Count NO2',
                           'Observation Percent' : 'Observation Percent NO2',
                           'Arithmetic Mean' : 'Arithmetic Mean NO2',
                           '1st Max Value' : '1st Max Value NO2',
                           '1st Max Hour' : '1st Max Hour NO2',
                           'AQI' : 'AQI NO2',
                           'Method Code' : 'Method Code NO2',
                           'Method Name' : 'Method Name NO2'}
                , inplace = True)

In [31]:
# check column names for nitrogen dioxide data

list(no2_df.columns)

['State Code',
 'County Code',
 'Site Num',
 'Parameter Code',
 'POC',
 'Latitude',
 'Longitude',
 'Datum',
 'Parameter Name',
 'Sample Duration NO2',
 'Pollutant Standard NO2',
 'Date Local',
 'Units of Measure NO2',
 'Event Type NO2',
 'Observation Count NO2',
 'Observation Percent NO2',
 'Arithmetic Mean NO2',
 '1st Max Value NO2',
 '1st Max Hour NO2',
 'AQI NO2',
 'Method Code NO2',
 'Method Name NO2',
 'Local Site Name',
 'Address',
 'State Name',
 'County Name',
 'City Name',
 'CBSA Name',
 'Date of Last Change']

In [32]:
# rename sulfur dioxide columns

so2_df.rename(columns = {'Sample Duration' : 'Sample Duration SO2', 
                           'Pollutant Standard' : 'Pollutant Standard SO2',
                           'Units of Measure' : 'Units of Measure SO2',
                           'Event Type' : 'Event Type SO2',
                           'Observation Count' : 'Observation Count SO2',
                           'Observation Percent' : 'Observation Percent SO2',
                           'Arithmetic Mean' : 'Arithmetic Mean SO2',
                           '1st Max Value' : '1st Max Value SO2',
                           '1st Max Hour' : '1st Max Hour SO2',
                           'AQI' : 'AQI SO2',
                           'Method Code' : 'Method Code SO2',
                           'Method Name' : 'Method Name SO2'}
                , inplace = True)

In [33]:
# check sulfur dioxide column names

list(so2_df.columns)

['State Code',
 'County Code',
 'Site Num',
 'Parameter Code',
 'POC',
 'Latitude',
 'Longitude',
 'Datum',
 'Parameter Name',
 'Sample Duration SO2',
 'Pollutant Standard SO2',
 'Date Local',
 'Units of Measure SO2',
 'Event Type SO2',
 'Observation Count SO2',
 'Observation Percent SO2',
 'Arithmetic Mean SO2',
 '1st Max Value SO2',
 '1st Max Hour SO2',
 'AQI SO2',
 'Method Code SO2',
 'Method Name SO2',
 'Local Site Name',
 'Address',
 'State Name',
 'County Name',
 'City Name',
 'CBSA Name',
 'Date of Last Change']

### 03. Dropping Columns

In [42]:
# Drop columns from ozone data that are not needed for analysis

ozone_df = ozone_df.drop(columns = ['State Code','County Code','Parameter Code', 'POC', 'Datum', 'Parameter Name','Date of Last Change'])

In [44]:
# Drop columns from carbon monoxide data that are not needed for analysis

co_df = co_df.drop(columns = ['State Code','County Code','Parameter Code', 'POC', 'Datum', 'Parameter Name','Date of Last Change'])

In [45]:
# Drop columns from nitrogen dioxide data that are not needed for analysis

no2_df = no2_df.drop(columns = ['State Code','County Code','Parameter Code', 'POC', 'Datum', 'Parameter Name','Date of Last Change'])

In [46]:
# Drop columns from sulfure dioxide data that are not needed for analysis

so2_df = so2_df.drop(columns = ['State Code','County Code','Parameter Code', 'POC', 'Datum', 'Parameter Name','Date of Last Change'])

### 04. Updating Data Types

In [43]:
# describe the ozone data set

ozone_df.describe()

,Site Num,Latitude,Longitude,Observation Count Ozone,Observation Percent Ozone,Arithmetic Mean Ozone,1st Max Value Ozone,1st Max Hour Ozone,AQI Ozone,Method Code Ozone
count,233601.000000,233601.000000,233601.000000,233601.000000,233601.000000,233601.000000,233601.000000,233601.000000,233601.000000,0.0
mean,1352.687934,37.785097,-94.394857,16.791880,98.789843,0.034265,0.042542,10.799046,41.095265,NaN
std,2713.754708,4.910066,15.628597,1.253237,7.305170,0.009969,0.010775,3.085993,14.863765,NaN
min,1.000000,18.216038,-158.088613,1.000000,6.000000,0.000000,0.000000,7.000000,0.000000,NaN
25%,6.000000,34.210169,-107.977567,17.000000,100.000000,0.027588,0.036000,9.000000,33.000000,NaN
50%,23.000000,38.587525,-90.521944,17.000000,100.000000,0.034412,0.042000,10.000000,39.000000,NaN
75%,1012.000000,41.247486,-82.100646,17.000000,100.000000,0.041000,0.049000,11.000000,45.000000,NaN
max,9997.000000,64.845690,-66.150615,17.000000,100.000000,0.124765,0.166000,23.000000,264.000000,NaN

In [48]:
# update data type for values that should be strings

ozone_df['Site Num'] = ozone_df['Site Num'].astype('str')
ozone_df['Latitude'] = ozone_df['Latitude'].astype('str')
ozone_df['Longitude'] = ozone_df['Longitude'].astype('str')
ozone_df['Method Code Ozone'] = ozone_df['Method Code Ozone'].astype('str')

In [49]:
# check the output

ozone_df.describe()

,Observation Count Ozone,Observation Percent Ozone,Arithmetic Mean Ozone,1st Max Value Ozone,1st Max Hour Ozone,AQI Ozone
count,233601.000000,233601.000000,233601.000000,233601.000000,233601.000000,233601.000000
mean,16.791880,98.789843,0.034265,0.042542,10.799046,41.095265
std,1.253237,7.305170,0.009969,0.010775,3.085993,14.863765
min,1.000000,6.000000,0.000000,0.000000,7.000000,0.000000
25%,17.000000,100.000000,0.027588,0.036000,9.000000,33.000000
50%,17.000000,100.000000,0.034412,0.042000,10.000000,39.000000
75%,17.000000,100.000000,0.041000,0.049000,11.000000,45.000000
max,17.000000,100.000000,0.124765,0.166000,23.000000,264.000000

In [50]:
# describe the carbon monoxide data set

co_df.describe()

,Site Num,Latitude,Longitude,Observation Count CO,Observation Percent CO,Arithmetic Mean CO,1st Max Value CO,1st Max Hour CO,AQI CO,Method Code CO
count,99645.000000,99645.000000,99645.000000,99645.000000,99645.000000,99645.000000,99645.000000,99645.000000,49922.000000,49723.000000
mean,944.755010,37.961645,-97.594959,23.186472,96.654674,0.259090,0.404870,7.586673,3.937022,336.665527
std,1816.049849,5.403942,19.131214,2.588411,10.767800,0.184827,0.331144,7.896360,3.223380,246.955163
min,1.000000,18.009558,-158.088613,1.000000,4.000000,-0.400000,-0.400000,0.000000,0.000000,54.000000
25%,14.000000,34.136500,-115.175654,23.000000,96.000000,0.154167,0.200000,0.000000,2.000000,93.000000
50%,56.000000,38.656429,-94.669697,24.000000,100.000000,0.225000,0.300000,6.000000,3.000000,554.000000
75%,1017.000000,40.853550,-80.038611,24.000000,100.000000,0.337500,0.500000,13.000000,6.000000,593.000000
max,9997.000000,64.845690,-66.052237,24.000000,100.000000,15.983333,20.300000,23.000000,231.000000,594.000000

In [51]:
# update data type for values that should be strings

co_df['Site Num'] = co_df['Site Num'].astype('str')
co_df['Latitude'] = co_df['Latitude'].astype('str')
co_df['Longitude'] = co_df['Longitude'].astype('str')
co_df['Method Code CO'] = co_df['Method Code CO'].astype('str')

In [52]:
# check the output

co_df.describe()

,Observation Count CO,Observation Percent CO,Arithmetic Mean CO,1st Max Value CO,1st Max Hour CO,AQI CO
count,99645.000000,99645.000000,99645.000000,99645.000000,99645.000000,49922.000000
mean,23.186472,96.654674,0.259090,0.404870,7.586673,3.937022
std,2.588411,10.767800,0.184827,0.331144,7.896360,3.223380
min,1.000000,4.000000,-0.400000,-0.400000,0.000000,0.000000
25%,23.000000,96.000000,0.154167,0.200000,0.000000,2.000000
50%,24.000000,100.000000,0.225000,0.300000,6.000000,3.000000
75%,24.000000,100.000000,0.337500,0.500000,13.000000,6.000000
max,24.000000,100.000000,15.983333,20.300000,23.000000,231.000000

In [53]:
# describe the nitrogen dioxide data set

no2_df.describe()

,Site Num,Latitude,Longitude,Observation Count NO2,Observation Percent NO2,Arithmetic Mean NO2,1st Max Value NO2,1st Max Hour NO2,AQI NO2,Method Code NO2
count,92635.000000,92635.000000,92635.000000,92635.000000,92635.000000,92635.000000,92635.000000,92635.000000,92635.000000,92635.000000
mean,954.032968,37.668570,-97.647234,23.025520,96.024429,7.564768,16.461886,11.001716,15.210147,165.852993
std,1830.827191,4.873352,16.518102,2.123901,8.823231,6.913025,12.630409,7.926682,11.889080,151.386460
min,1.000000,18.198712,-159.366240,1.000000,4.000000,-2.875000,-2.600000,0.000000,0.000000,35.000000
25%,9.000000,33.999580,-111.931000,23.000000,96.000000,2.526087,6.000000,5.000000,6.000000,74.000000
50%,44.000000,38.459340,-96.855350,24.000000,100.000000,5.375000,13.200000,7.000000,12.000000,99.000000
75%,1016.000000,40.816000,-82.414585,24.000000,100.000000,10.583333,24.600000,20.000000,23.000000,212.000000
max,9997.000000,48.641930,-66.052237,24.000000,100.000000,64.058333,107.400000,23.000000,102.000000,599.000000

In [54]:
# update data type for values that should be strings

no2_df['Site Num'] = no2_df['Site Num'].astype('str')
no2_df['Latitude'] = no2_df['Latitude'].astype('str')
no2_df['Longitude'] = no2_df['Longitude'].astype('str')
no2_df['Method Code NO2'] = no2_df['Method Code NO2'].astype('str')

In [57]:
# check the output

no2_df.describe()

,Observation Count NO2,Observation Percent NO2,Arithmetic Mean NO2,1st Max Value NO2,1st Max Hour NO2,AQI NO2
count,92635.000000,92635.000000,92635.000000,92635.000000,92635.000000,92635.000000
mean,23.025520,96.024429,7.564768,16.461886,11.001716,15.210147
std,2.123901,8.823231,6.913025,12.630409,7.926682,11.889080
min,1.000000,4.000000,-2.875000,-2.600000,0.000000,0.000000
25%,23.000000,96.000000,2.526087,6.000000,5.000000,6.000000
50%,24.000000,100.000000,5.375000,13.200000,7.000000,12.000000
75%,24.000000,100.000000,10.583333,24.600000,20.000000,23.000000
max,24.000000,100.000000,64.058333,107.400000,23.000000,102.000000

In [58]:
# describe the sulfur dioxide data set

so2_df.describe()

,Site Num,Latitude,Longitude,Observation Count SO2,Observation Percent SO2,Arithmetic Mean SO2,1st Max Value SO2,1st Max Hour SO2,AQI SO2,Method Code SO2
count,178679.000000,178679.000000,178679.000000,178679.000000,178679.000000,178679.000000,178679.000000,178679.000000,89410.000000,89410.000000
mean,845.174827,38.164211,-92.105070,15.295054,94.729722,0.864269,2.499625,9.347053,3.339403,227.639571
std,1967.242817,5.831121,16.928909,8.010143,9.528227,4.166170,11.555980,6.720891,11.838275,227.948858
min,1.000000,17.967309,-159.366240,1.000000,4.000000,-3.254167,-3.000000,0.000000,0.000000,9.000000
25%,7.000000,35.236736,-97.761803,8.000000,88.000000,0.071429,0.200000,2.000000,0.000000,60.000000
50%,22.000000,39.323533,-87.990570,8.000000,100.000000,0.362500,0.800000,8.000000,0.000000,100.000000
75%,1002.000000,41.530011,-80.785683,24.000000,100.000000,0.900000,1.700000,14.000000,3.000000,560.000000
max,9997.000000,64.845690,-66.141683,24.000000,100.000000,307.529167,478.000000,23.000000,200.000000,600.000000

In [59]:
# update data type for values that should be strings

so2_df['Site Num'] = so2_df['Site Num'].astype('str')
so2_df['Latitude'] = so2_df['Latitude'].astype('str')
so2_df['Longitude'] = so2_df['Longitude'].astype('str')
so2_df['Method Code SO2'] = so2_df['Method Code SO2'].astype('str')

In [60]:
# check the output

so2_df.describe()

,Observation Count SO2,Observation Percent SO2,Arithmetic Mean SO2,1st Max Value SO2,1st Max Hour SO2,AQI SO2
count,178679.000000,178679.000000,178679.000000,178679.000000,178679.000000,89410.000000
mean,15.295054,94.729722,0.864269,2.499625,9.347053,3.339403
std,8.010143,9.528227,4.166170,11.555980,6.720891,11.838275
min,1.000000,4.000000,-3.254167,-3.000000,0.000000,0.000000
25%,8.000000,88.000000,0.071429,0.200000,2.000000,0.000000
50%,8.000000,100.000000,0.362500,0.800000,8.000000,0.000000
75%,24.000000,100.000000,0.900000,1.700000,14.000000,3.000000
max,24.000000,100.000000,307.529167,478.000000,23.000000,200.000000

### 05. Check for mixed type data

In [61]:
# check for mixed type columns in ozone data

for col in ozone_df.columns.tolist():
  weird = (ozone_df[[col]].applymap(type) != ozone_df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (ozone_df[weird]) > 0:
    print (col)

Local Site Name
Address
CBSA Name

In [66]:
# convert mixed data types to string

ozone_df['Local Site Name'] = ozone_df['Local Site Name'].astype('str')
ozone_df['Address'] = ozone_df['Address'].astype('str')
ozone_df['CBSA Name'] = ozone_df['CBSA Name'].astype('str')

In [67]:
# check for mixed type columns in carbon monoxide data

for col in co_df.columns.tolist():
  weird = (co_df[[col]].applymap(type) != co_df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (co_df[weird]) > 0:
    print (col)

Local Site Name
CBSA Name

In [69]:
# convert mixed data types to string

co_df['Local Site Name'] = co_df['Local Site Name'].astype('str')
co_df['CBSA Name'] = co_df['CBSA Name'].astype('str')

In [70]:
# check for mixed type columns in nitrogen dioxide data

for col in no2_df.columns.tolist():
  weird = (no2_df[[col]].applymap(type) != no2_df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (no2_df[weird]) > 0:
    print (col)

Local Site Name
Address
CBSA Name

In [71]:
# convert mixed data types to string

no2_df['Local Site Name'] = no2_df['Local Site Name'].astype('str')
no2_df['Address'] = no2_df['Address'].astype('str')
no2_df['CBSA Name'] = no2_df['CBSA Name'].astype('str')

In [72]:
# check for mixed type columns in sulfur dioxide data

for col in so2_df.columns.tolist():
  weird = (so2_df[[col]].applymap(type) != so2_df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (so2_df[weird]) > 0:
    print (col)

Local Site Name
Address
CBSA Name

In [73]:
# convert mixed data types to string

so2_df['Local Site Name'] = so2_df['Local Site Name'].astype('str')
so2_df['Address'] = so2_df['Address'].astype('str')
so2_df['CBSA Name'] = so2_df['CBSA Name'].astype('str')

### 06. Check for missing values

In [74]:
# check for null values in ozone data

ozone_df.isnull().sum()

Site Num                     0
Latitude                     0
Longitude                    0
Sample Duration Ozone        0
Pollutant Standard Ozone     0
Date Local                   0
Units of Measure Ozone       0
Event Type Ozone             0
Observation Count Ozone      0
Observation Percent Ozone    0
Arithmetic Mean Ozone        0
1st Max Value Ozone          0
1st Max Hour Ozone           0
AQI Ozone                    0
Method Code Ozone            0
Method Name Ozone            0
Local Site Name              0
Address                      0
State Name                   0
County Name                  0
City Name                    0
CBSA Name                    0
dtype: int64

In [75]:
# check for null values in carbon monoxide data

co_df.isnull().sum()

Site Num                      0
Latitude                      0
Longitude                     0
Sample Duration CO            0
Pollutant Standard CO         0
Date Local                    0
Units of Measure CO           0
Event Type CO                 0
Observation Count CO          0
Observation Percent CO        0
Arithmetic Mean CO            0
1st Max Value CO              0
1st Max Hour CO               0
AQI CO                    49723
Method Code CO                0
Method Name CO                0
Local Site Name               0
Address                       0
State Name                    0
County Name                   0
City Name                     0
CBSA Name                     0
dtype: int64

In [76]:
# check for null values in nitrogen dioxide data

no2_df.isnull().sum()

Site Num                   0
Latitude                   0
Longitude                  0
Sample Duration NO2        0
Pollutant Standard NO2     0
Date Local                 0
Units of Measure NO2       0
Event Type NO2             0
Observation Count NO2      0
Observation Percent NO2    0
Arithmetic Mean NO2        0
1st Max Value NO2          0
1st Max Hour NO2           0
AQI NO2                    0
Method Code NO2            0
Method Name NO2            0
Local Site Name            0
Address                    0
State Name                 0
County Name                0
City Name                  0
CBSA Name                  0
dtype: int64

In [77]:
# check for null values in sulfur dioxide data

so2_df.isnull().sum()

Site Num                       0
Latitude                       0
Longitude                      0
Sample Duration SO2            0
Pollutant Standard SO2         0
Date Local                     0
Units of Measure SO2           0
Event Type SO2                 0
Observation Count SO2          0
Observation Percent SO2        0
Arithmetic Mean SO2            0
1st Max Value SO2              0
1st Max Hour SO2               0
AQI SO2                    89269
Method Code SO2                0
Method Name SO2                0
Local Site Name                0
Address                        0
State Name                     0
County Name                    0
City Name                      0
CBSA Name                      0
dtype: int64

In [82]:
# check the output

co_df_2.isnull().sum()

Site Num                      0
Latitude                      0
Longitude                     0
Sample Duration CO            0
Pollutant Standard CO         0
Date Local                    0
Units of Measure CO           0
Event Type CO                 0
Observation Count CO          0
Observation Percent CO        0
Arithmetic Mean CO            0
1st Max Value CO              0
1st Max Hour CO               0
AQI CO                    49723
Method Code CO                0
Method Name CO                0
Local Site Name               0
Address                       0
State Name                    0
County Name                   0
City Name                     0
CBSA Name                     0
dtype: int64

### 07. Check for duplicates

In [83]:
# Check for dupes in ozone data

ozone_df_dups = ozone_df[ozone_df.duplicated()]

In [84]:
ozone_df_dups

,Site Num,Latitude,Longitude,Sample Duration Ozone,Pollutant Standard Ozone,Date Local,Units of Measure Ozone,Event Type Ozone,Observation Count Ozone,Observation Percent Ozone,...,1st Max Hour Ozone,AQI Ozone,Method Code Ozone,Method Name Ozone,Local Site Name,Address,State Name,County Name,City Name,CBSA Name
85015,11,42.743036,-92.513241,8-HR RUN AVG BEGIN HOUR,Ozone 8-hour 2015,2022-05-22,Parts per million,None,17,100.0,...,12,39,nan,-,WAVERLY AIRPORT SITE,WAVERLY AIRPORT,Iowa,Bremer,Waverly,"Waterloo-Cedar Falls, IA"
85029,11,42.743036,-92.513241,8-HR RUN AVG BEGIN HOUR,Ozone 8-hour 2015,2022-06-05,Parts per million,None,17,100.0,...,9,45,nan,-,WAVERLY AIRPORT SITE,WAVERLY AIRPORT,Iowa,Bremer,Waverly,"Waterloo-Cedar Falls, IA"
85092,11,42.743036,-92.513241,8-HR RUN AVG BEGIN HOUR,Ozone 8-hour 2015,2022-08-07,Parts per million,None,17,100.0,...,7,35,nan,-,WAVERLY AIRPORT SITE,WAVERLY AIRPORT,Iowa,Bremer,Waverly,"Waterloo-Cedar Falls, IA"
85117,11,42.743036,-92.513241,8-HR RUN AVG BEGIN HOUR,Ozone 8-hour 2015,2022-09-01,Parts per million,None,17,100.0,...,9,33,nan,-,WAVERLY AIRPORT SITE,WAVERLY AIRPORT,Iowa,Bremer,Waverly,"Waterloo-Cedar Falls, IA"
85123,11,42.743036,-92.513241,8-HR RUN AVG BEGIN HOUR,Ozone 8-hour 2015,2022-09-07,Parts per million,None,17,100.0,...,10,40,nan,-,WAVERLY AIRPORT SITE,WAVERLY AIRPORT,Iowa,Bremer,Waverly,"Waterloo-Cedar Falls, IA"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125810,85,38.656429,-90.198348,8-HR RUN AVG BEGIN HOUR,Ozone 8-hour 2015,2022-03-15,Parts per million,None,17,100.0,...,10,41,nan,-,Blair Street,"BLAIR STREET: 3247 Blair Street, St. Louis, MO...",Missouri,St. Louis City,St. Louis,"St. Louis, MO-IL"
125825,85,38.656429,-90.198348,8-HR RUN AVG BEGIN HOUR,Ozone 8-hour 2015,2022-03-30,Parts per million,None,17,100.0,...,7,29,nan,-,Blair Street,"BLAIR STREET: 3247 Blair Street, St. Louis, MO...",Missouri,St. Louis City,St. Louis,"St. Louis, MO-IL"
125828,85,38.656429,-90.198348,8-HR RUN AVG BEGIN HOUR,Ozone 8-hour 2015,2022-04-02,Parts per million,None,17,100.0,...,11,40,nan,-,Blair Street,"BLAIR STREET: 3247 Blair Street, St. Louis, MO...",Missouri,St. Louis City,St. Louis,"St. Louis, MO-IL"
178768,12,40.107222,-74.882222,8-HR RUN AVG BEGIN HOUR,Ozone 8-hour 2015,2022-04-19,Parts per million,None,17,100.0,...,13,31,nan,-,Bristol,ROCKVIEW LANE,Pennsylvania,Bucks,Bristol,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD"
178778,12,40.107222,-74.882222,8-HR RUN AVG BEGIN HOUR,Ozone 8-hour 2015,2022-04-29,Parts per million,None,17,100.0,...,10,45,nan,-,Bristol,ROCKVIEW LANE,Pennsylvania,Bucks,Bristol,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD"

In [85]:
ozone_df.shape

(233601, 22)

In [87]:
# create new dataframe with no duplicates

ozone_df_no_dups = ozone_df.drop_duplicates()

In [88]:
ozone_df_no_dups.shape

(233298, 22)

In [90]:
# Check for dupes in carbon monoxide data

co_df_dups = co_df[co_df.duplicated()]

In [91]:
co_df_dups

,Site Num,Latitude,Longitude,Sample Duration CO,Pollutant Standard CO,Date Local,Units of Measure CO,Event Type CO,Observation Count CO,Observation Percent CO,...,1st Max Hour CO,AQI CO,Method Code CO,Method Name CO,Local Site Name,Address,State Name,County Name,City Name,CBSA Name
13486,1103,34.06659,-118.22688,8-HR RUN AVG END HOUR,CO 8-hour 1971,2022-02-16,Parts per million,None,24,100.0,...,6,5.0,nan,-,Los Angeles-North Main Street,"1630 N MAIN ST, LOS ANGELES",California,Los Angeles,Los Angeles,"Los Angeles-Long Beach-Anaheim, CA"
13493,1103,34.06659,-118.22688,8-HR RUN AVG END HOUR,CO 8-hour 1971,2022-02-23,Parts per million,None,24,100.0,...,0,2.0,nan,-,Los Angeles-North Main Street,"1630 N MAIN ST, LOS ANGELES",California,Los Angeles,Los Angeles,"Los Angeles-Long Beach-Anaheim, CA"
13518,1103,34.06659,-118.22688,8-HR RUN AVG END HOUR,CO 8-hour 1971,2022-03-20,Parts per million,None,24,100.0,...,0,2.0,nan,-,Los Angeles-North Main Street,"1630 N MAIN ST, LOS ANGELES",California,Los Angeles,Los Angeles,"Los Angeles-Long Beach-Anaheim, CA"
13526,1103,34.06659,-118.22688,8-HR RUN AVG END HOUR,CO 8-hour 1971,2022-03-28,Parts per million,None,24,100.0,...,0,2.0,nan,-,Los Angeles-North Main Street,"1630 N MAIN ST, LOS ANGELES",California,Los Angeles,Los Angeles,"Los Angeles-Long Beach-Anaheim, CA"
13532,1103,34.06659,-118.22688,8-HR RUN AVG END HOUR,CO 8-hour 1971,2022-04-03,Parts per million,None,24,100.0,...,0,2.0,nan,-,Los Angeles-North Main Street,"1630 N MAIN ST, LOS ANGELES",California,Los Angeles,Los Angeles,"Los Angeles-Long Beach-Anaheim, CA"
13539,1103,34.06659,-118.22688,8-HR RUN AVG END HOUR,CO 8-hour 1971,2022-04-10,Parts per million,None,24,100.0,...,0,2.0,nan,-,Los Angeles-North Main Street,"1630 N MAIN ST, LOS ANGELES",California,Los Angeles,Los Angeles,"Los Angeles-Long Beach-Anaheim, CA"
13540,1103,34.06659,-118.22688,8-HR RUN AVG END HOUR,CO 8-hour 1971,2022-04-11,Parts per million,None,24,100.0,...,0,2.0,nan,-,Los Angeles-North Main Street,"1630 N MAIN ST, LOS ANGELES",California,Los Angeles,Los Angeles,"Los Angeles-Long Beach-Anaheim, CA"
13545,1103,34.06659,-118.22688,8-HR RUN AVG END HOUR,CO 8-hour 1971,2022-04-16,Parts per million,None,24,100.0,...,0,2.0,nan,-,Los Angeles-North Main Street,"1630 N MAIN ST, LOS ANGELES",California,Los Angeles,Los Angeles,"Los Angeles-Long Beach-Anaheim, CA"
13546,1103,34.06659,-118.22688,8-HR RUN AVG END HOUR,CO 8-hour 1971,2022-04-17,Parts per million,None,24,100.0,...,0,2.0,nan,-,Los Angeles-North Main Street,"1630 N MAIN ST, LOS ANGELES",California,Los Angeles,Los Angeles,"Los Angeles-Long Beach-Anaheim, CA"
13549,1103,34.06659,-118.22688,8-HR RUN AVG END HOUR,CO 8-hour 1971,2022-04-20,Parts per million,None,24,100.0,...,0,2.0,nan,-,Los Angeles-North Main Street,"1630 N MAIN ST, LOS ANGELES",California,Los Angeles,Los Angeles,"Los Angeles-Long Beach-Anaheim, CA"
13557,1103,34.06659,-118.22688,8-HR RUN AVG END HOUR,CO 8-hour 1971,2022-04-28,Parts per million,None,24,100.0,...,22,3.0,nan,-,Los Angeles-North Main Street,"1630 N MAIN ST, LOS ANGELES",California,Los Angeles,Los Angeles,"Los Angeles-Long Beach-Anaheim, CA"
13558,1103,34.06659,-118.22688,8-HR RUN AVG END HOUR,CO 8-hour 1971,2022-04-29,Parts per million,None,24,100.0,...,5,6.0,nan,-,Los Angeles-North Main Street,"1630 N MAIN ST, LOS ANGELES",California,Los Angeles,Los Angeles,"Los Angeles-Long Beach-Anaheim, CA"
13562,1103,34.06659,-118.22688,8-HR RUN AVG END HOUR,CO 8-hour 1971,2022-05-03,Parts per million,None,24,100.0,...,0,3.0,nan,-,Los Angeles-North Main Street,"1630 N MAIN ST, LOS ANGELES",California,Los Angeles,Los Angeles,"Los Angeles-Long Beach-Anaheim, CA"
13563,1103,34.06659,-118.22688,8-HR RUN AVG END HOUR,CO 8-hour 1971,2022-05-04,Parts per million,None,24,100.0,...,2,5.0,nan,-,Los Angeles-North Main Street,"1630 N MAIN ST, LOS ANGELES",California,Los Angeles,Los Angeles,"Los Angeles-Long Beach-Anaheim, CA"
13567,1103,34.06659,-118.22688,8-HR RUN AVG END HOUR,CO 8-hour 1971,2022-05-08,Parts per million,None,24,100.0,...,0,2.0,nan,-,Los Angeles-North Main Street,"1630 N MAIN ST, LOS ANGELES",California,Los Angeles,Los Angeles,"Los Angeles-Long Beach-Anaheim, CA"
13568,1103,34.06659,-118.22688,8-HR RUN AVG END HOUR,CO 8-hour 1971,2022-05-09,Parts per million,None,24,100.0,...,4,3.0,nan,-,Los Angeles-North Main Street,"1630 N MAIN ST, LOS ANGELES",California,Los Angeles,Los Angeles,"Los Angeles-Long Beach-Anaheim, CA"
13577,1103,34.06659,-118.22688,8-HR RUN AVG END HOUR,CO 8-hour 1971,2022-05-18,Parts per million,None,24,100.0,...,0,3.0,nan,-,Los Angeles-North Main Street,"1630 N MAIN ST, LOS ANGELES",California,Los Angeles,Los Angeles,"Los Angeles-Long Beach-Anaheim, CA"
13580,1103,34.06659,-118.22688,8-HR RUN AVG END HOUR,CO 8-hour 1971,2022-05-21,Parts per million,None,24,100.0,...,0,2.0,nan,-,Los Angeles-North Main Street,"1630 N MAIN ST, LOS ANGELES",California,Los Angeles,Los Angeles,"Los Angeles-Long Beach-Anaheim, CA"
13586,1103,34.06659,-118.22688,8-HR RUN AVG END HOUR,CO 8-hour 1971,2022-05-27,Parts per million,None,24,100.0,...,0,2.0,nan,-,Los Angeles-North Main Street,"1630 N MAIN ST, LOS ANGELES",California,Los Angeles,Los Angeles,"Los Angeles-Long Beach-Anaheim, CA"
13587,1103,34.06659,-118.22688,8-HR RUN AVG END HOUR,CO 8-hour 1971,2022-05-28,Parts per million,None,24,100.0,...,0,2.0,nan,-,Los Angeles-North Main Street,"1630 N MAIN ST, LOS ANGELES",California,Los Angeles,Los Angeles,"Los Angeles-Long Beach-Anaheim, CA"
13589,1103,34.06659,-118.22688,8-HR RUN AVG END HOUR,CO 8-hour 1971,2022-05-30,Parts per million,None,24,100.0,...,0,2.0,nan,-,Los Angeles-North Main Street,"1630 N MAIN ST, LOS ANGELES",California,Los Angeles,Los Angeles,"Los Angeles-Long Beach-Anaheim, CA"
13621,1103,34.06659,-118.22688,8-HR RUN AVG END HOUR,CO 8-hour 1971,2022-07-01,Parts per million,None,2,8.0,...,0,3.0,nan,-,Los Angeles-North Main Street,"1630 N MAIN ST, LOS ANGELES",California,Los Angeles,Los Angeles,"Los Angeles-Long Beach-Anaheim, CA"
18999,8001,33.99958,-117.41601,8-HR RUN AVG END HOUR,CO 8-hour 1971,2022-01-08,Parts per million,None,24,100.0,...,23,7.0,nan,-,Rubidoux,"5888 MISSION BLVD., RUBIDOUX",California,Riverside,Rubidoux,"Riverside-San Bernardino-Ontario, CA"
19001,8001,33.99958,-117.41601,8-HR RUN AVG END HOUR,CO 8-hour 1971,2022-01-10,Parts per million,None,24,100.0,...,0,2.0,nan,-,Rubidoux,"5888 MISSION BLVD., RUBIDOUX",California,Riverside,Rubidoux,"Riverside-San Bernardino-Ontario, CA"
19013,8001,33.99958,-117.41601,8-HR RUN AVG END HOUR,CO 8-hour 1971,2022-01-22,Parts per million,None,24,100.0,...,21,2.0,nan,-,Rubidoux,"5888 MISSION BLVD., RUBIDOUX",California,Riverside,Rubidoux,"Riverside-San Bernardino-Ontario, CA"
19024,8001,33.99958,-117.41601,8-HR RUN AVG END HOUR,CO 8-hour 1971,2022-02-02,Parts per million,None,24,100.0,...,0,6.0,nan,-,Rubidoux,"5888 MISSION BLVD., RUBIDOUX",California,Riverside,Rubidoux,"Riverside-San Bernardino-Ontario, CA"
19044,8001,33.99958,-117.41601,8-HR RUN AVG END HOUR,CO 8-hour 1971,2022-02-22,Parts per million,None,24,100.0,...,0,2.0,nan,-,Rubidoux,"5888 MISSION BLVD., RUBIDOUX",California,Riverside,Rubidoux,"Riverside-San Bernardino-Ontario, CA"
19045,8001,33.99958,-117.41601,8-HR RUN AVG END HOUR,CO 8-hour 1971,2022-02-23,Parts per million,None,24,100.0,...,22,3.0,nan,-,Rubidoux,"5888 MISSION BLVD., RUBIDOUX",California,Riverside,Rubidoux,"Riverside-San Bernardino-Ontario, CA"
19048,8001,33.99958,-117.41601,8-HR RUN AVG END HOUR,CO 8-hour 1971,2022-02-26,Parts per million,None,24,100.0,...,4,7.0,nan,-,Rubidoux,"5888 MISSION BLVD., RUBIDOUX",California,Riverside,Rubidoux,"Riverside-San Bernardino-Ontario, CA"
19051,8001,33.99958,-117.41601,8-HR RUN AVG END HOUR,CO 8-hour 1971,2022-03-01,Parts per million,None,24,100.0,...,22,6.0,nan,-,Rubidoux,"5888 MISSION BLVD., RUBIDOUX",California,Riverside,Rubidoux,"Riverside-San Bernardino-Ontario, CA"
19054,8001,33.99958,-117.41601,8-HR RUN AVG END HOUR,CO 8-hour 1971,2022-03-04,Parts per million,None,24,100.0,...,0,2.0,nan,-,Rubidoux,"5888 MISSION BLVD., RUBIDOUX",California,Riverside,Rubidoux,"Riverside-San Bernardino-Ontario, CA"
19055,8001,33.99958,-117.41601,8-HR RUN AVG END HOUR,CO 8-hour 1971,2022-03-05,Parts per million,None,24,100.0,...,0,2.0,nan,-,Rubidoux,"5888 MISSION BLVD., RUBIDOUX",California,Riverside,Rubidoux,"Riverside-San Bernardino-Ontario, CA"
19072,8001,33.99958,-117.41601,8-HR RUN AVG END HOUR,CO 8-hour 1971,2022-03-22,Parts per million,None,24,100.0,...,0,5.0,nan,-,Rubidoux,"5888 MISSION BLVD., RUBIDOUX",California,Riverside,Rubidoux,"Riverside-San Bernardino-Ontario, CA"
19076,8001,33.99958,-117.41601,8-HR RUN AVG END HOUR,CO 8-hour 1971,2022-03-26,Parts per million,None,24,100.0,...,9,8.0,nan,-,Rubidoux,"5888 MISSION BLVD., RUBIDOUX",California,Riverside,Rubidoux,"Riverside-San Bernardino-Ontario, CA"
19077,8001,33.99958,-117.41601,8-HR RUN AVG END HOUR,CO 8-hour 1971,2022-03-27,Parts per million,None,24,100.0,...,0,2.0,nan,-,Rubidoux,"5888 MISSION BLVD., RUBIDOUX",California,Riverside,Rubidoux,"Riverside-San Bernardino-Ontario, CA"
19079,8001,33.99958,-117.41601,8-HR RUN AVG END HOUR,CO 8-hour 1971,2022-03-29,Parts per million,None,24,100.0,...,0,2.0,nan,-,Rubidoux,"5888 MISSION BLVD., RUBIDOUX",California,Riverside,Rubidoux,"Riverside-San Bernardino-Ontario, CA"
19114,8001,33.99958,-117.41601,8-HR RUN AVG END HOUR,CO 8-hour 1971,2022-05-03,Parts per million,None,24,100.0,...,0,2.0,nan,-,Rubidoux,"5888 MISSION BLVD., RUBIDOUX",California,Riverside,Rubidoux,"Riverside-San Bernardino-Ontario, CA"
19167,8001,33.99958,-117.41601,8-HR RUN AVG END HOUR,CO 8-hour 1971,2022-07-01,Parts per million,None,2,8.0,...,0,2.0,nan,-,Rubidoux,"5888 MISSION BLVD., RUBIDOUX",California,Riverside,Rubidoux,"Riverside-San Bernardino-Ontario, CA"

In [93]:
co_df.shape

(99645, 22)

In [92]:
# create new dataframe with no duplicates

co_df_no_dups = co_df.drop_duplicates()

In [94]:
co_df_no_dups.shape

(99607, 22)

In [95]:
# Check for dupes in nitrogen dioxide data

no2_df_dups = no2_df[no2_df.duplicated()]

In [96]:
no2_df_dups

Empty DataFrame
Columns: [Site Num, Latitude, Longitude, Sample Duration NO2, Pollutant Standard NO2, Date Local, Units of Measure NO2, Event Type NO2, Observation Count NO2, Observation Percent NO2, Arithmetic Mean NO2, 1st Max Value NO2, 1st Max Hour NO2, AQI NO2, Method Code NO2, Method Name NO2, Local Site Name, Address, State Name, County Name, City Name, CBSA Name]
Index: []

[0 rows x 22 columns]

In [97]:
# Check for dupes in sulfur dioxide data

so2_df_dups = so2_df[so2_df.duplicated()]

In [98]:
so2_df_dups

,Site Num,Latitude,Longitude,Sample Duration SO2,Pollutant Standard SO2,Date Local,Units of Measure SO2,Event Type SO2,Observation Count SO2,Observation Percent SO2,...,1st Max Hour SO2,AQI SO2,Method Code SO2,Method Name SO2,Local Site Name,Address,State Name,County Name,City Name,CBSA Name
111193,60,41.492117,-81.678449,3-HR BLK AVG,SO2 3-hour 1971,2022-03-26,Parts per billion,None,7,88.0,...,5,NaN,nan,-,GT Craig NCore,E. 14TH & ORANGE,Ohio,Cuyahoga,Cleveland,"Cleveland-Elyria, OH"
111194,60,41.492117,-81.678449,3-HR BLK AVG,SO2 3-hour 1971,2022-03-27,Parts per billion,None,7,88.0,...,5,NaN,nan,-,GT Craig NCore,E. 14TH & ORANGE,Ohio,Cuyahoga,Cleveland,"Cleveland-Elyria, OH"
111199,60,41.492117,-81.678449,3-HR BLK AVG,SO2 3-hour 1971,2022-04-01,Parts per billion,None,7,88.0,...,5,NaN,nan,-,GT Craig NCore,E. 14TH & ORANGE,Ohio,Cuyahoga,Cleveland,"Cleveland-Elyria, OH"
111201,60,41.492117,-81.678449,3-HR BLK AVG,SO2 3-hour 1971,2022-04-03,Parts per billion,None,7,88.0,...,5,NaN,nan,-,GT Craig NCore,E. 14TH & ORANGE,Ohio,Cuyahoga,Cleveland,"Cleveland-Elyria, OH"
111206,60,41.492117,-81.678449,3-HR BLK AVG,SO2 3-hour 1971,2022-04-08,Parts per billion,None,7,88.0,...,5,NaN,nan,-,GT Craig NCore,E. 14TH & ORANGE,Ohio,Cuyahoga,Cleveland,"Cleveland-Elyria, OH"

In [99]:
so2_df.shape

(178679, 22)

In [100]:
# create new dataframe with no duplicates

so2_df_no_dups = so2_df.drop_duplicates()

In [101]:
so2_df_no_dups.shape

(178674, 22)

### 08. Export Data

In [133]:
# Export ozone data to csv

ozone_df_no_dups.to_csv(os.path.join(path, '02 Data','Prepared Data', 'ozone_clean.csv'))

In [134]:
# Export carbon monoxide data to csv

co_df_no_dups.to_csv(os.path.join(path, '02 Data','Prepared Data', 'co_clean.csv'))

In [135]:
# Export nitrogen dioxide data to csv

no2_df.to_csv(os.path.join(path, '02 Data','Prepared Data', 'no2_clean.csv'))

In [136]:
# Export sulfur dioxide data to csv

so2_df_no_dups.to_csv(os.path.join(path, '02 Data','Prepared Data', 'so2_clean.csv'))